.container-fluid{
    display: block;
    height: calc(100vh - 100px); 
    background-color: var(--bg-color);
    overflow-y: auto;
    width: 75%;
    overflow-y: auto;
}

.row{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.card{
    border: 1px solid var(--lateral-color);
    text-align: center;
}

.card a {
    text-decoration: none;
}

.card-footer {
    background-color: var(--bg-card-color);
}


@media screen and (max-width: 786px) {
    .sidebar {
        width: 35%;
    }

    .container-fluid {
        width: 65%;
    }
}