<div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-4 py-4 px-3 ">
        <div class="col" *ngFor="let character of getCharacterModel?.results">
          <div class="card h-100">
            <img src={{character.image}} class="card-img-top" alt="Personagem">
            <div class="card-footer">
              <small type="text" class="text-muted">{{character.name}}</small>
              </div>
          </div>
        </div>   
      </div>
</div>
