<nav class="nav">
    <p class="nav-menu">Menu</p>
    <a [routerLink]="['home']" routerLinkActive="active" class="item">
        <i class="bi bi-house-fill"></i>
        Home
    </a>
    <a [routerLink]="['character']" routerLinkActive="active" class="item">
        <i class="bi bi-file-person-fill"></i>
        Character
    </a>
    <a [routerLink]="['episodes']" routerLinkActive="active" class="item">
        <i class="bi bi-tv-fill"></i>
        Episodes
    </a>
    <a [routerLink]="['quotes']" routerLinkActive="active" class="item">
        <i class="bi bi-chat-quote-fill"></i>
        Quotes
    </a>
    <a [routerLink]="['species']" routerLinkActive="active" class="item">
        <i class="bi bi-newspaper"></i>
        Species
    </a>
    <a [routerLink]="['items']" routerLinkActive="active" class="item">
        <i class="bi bi-patch-exclamation-fill"></i>
        Items
    </a>
    <a [routerLink]="['vehicles']" routerLinkActive="active" class="item">
        <i class="bi bi-truck-front-fill"></i>
        Vehicles
    </a>
</nav>

