<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-6">
                <img src="assets/img/rmt.png" class="img-fluid rounded-start" alt="Personagens">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h1 class="card-title">Rick and Morty</h1>
                    <p class="card-text">
                        "Esta é uma série de animação adulta que segue as aventuras do cientista louco Rick
                        Sanchez e seu neto Morty Smith em viagens interdimensionais. Rick é um gênio excêntrico e
                        alcoólatra, enquanto Morty é um adolescente comum que muitas vezes se vê envolvido em situações
                        surreais e perigosas. Ao longo da série, eles encontram uma variedade de personagens
                        fascinantes,
                        incluindo aliens, criaturas bizarras e versões alternativas de si mesmos em diferentes
                        realidades.
                        Com seu humor ácido e inteligente, "Rick and Morty" explora temas complexos como
                        existencialismo,
                        ética, e o impacto das escolhas na vida. Prepare-se para uma jornada emocionante e repleta de
                        reviravoltas com essa dupla improvável!
                    </p>
                    <small type="text" class="text-muted">Divirta-se!!!</small>
                </div>
            </div>
        </div>
    </div>
</div>