<div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-4 py-4 px-3 ">
        <div class="col" *ngFor="let episode of getEpisodeModel?.results">
            <div class="card h-100">
                <div class="card-header bg-transparent">{{episode.name}}</div>
                <div class="card-text bg-transparent">{{episode.air_date | date: 'EEEE, d MMMM, y'}}</div>
                <div class="card-text bg-transparent">Episodio: {{episode.episode}}</div>
                <div class="card-text bg-transparent">{{episode.characters.length}} Personagens</div>
                <div class="card-text-footer">
                    <small type="text" class="text-muted">Criação: {{episode.created | date: 'dd/MM/yyyy' }}</small>
                </div>
            </div>
        </div>
    </div>
</div>