@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-icons/font/bootstrap-icons.css';

$font-stack: Poppins, sans-serif;
$bg-color: #010010;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-stack;
}

body{
    background-color: $bg-color;
}